
:root {
    --primary: #203d93;
    --secondary: #344856;
    --pop: #581550;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


header {
    background-color: rgba(50, 53, 54, 0.881);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

header div {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

header h1 {
    color: whitesmoke;
    font-size: 40px;
    font-weight: bold;
    background-color: rgba(189, 93, 93, 0.778)
    padding: 10px;
    border: 0.5 solid;
}

.hero {
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #581550;
}