

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}

header {
    background-color: #31343d;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

header h1 {
    background-color: #92cccd;
    font-size: 50px;
    line-height: normal;
    padding: 0 20px 0 5%;
}

header h1 a {
    text-decoration: none;
    color: #31343d;
}

header nav {
    padding-right: 3%;
}

.topNav {
    display: flex;
}

.topNav li {
    padding: 5px;
}

.topNav a {
    color: #92cccd;
    font-size: 25px;
    text-decoration: none;
    padding: 3px 8px;
    border-bottom: 5px solid #445876;
}

.hero {
    background-image: url("../images/hero-banner1.png");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    height: 190px;
    position: relative;
}

.hero h2 {
    background-color: #92cccd;
    color: #31343d;
    font-size: 30px;
    padding: 0 10px;
    justify-content: center;
    position: absolute;
    bottom: 18px;
    right: 10px;
}

.container {
    width: 96%;
    padding-bottom: 120px;
    margin: 42px auto 0 auto;
    display: grid;
    grid-template-columns: 15% 75%;
    gap: 6%;
}

.page-section {
    border-right: 3px solid #445876;
    font-size: 35px;
    text-align: right;
    padding: 14px;
}

h2 {
    color: #31343d;
    text-align: right;
    font-size: clam(2rem, 4vw, 4rem);
    font-weight: 700;
}

#portfolio {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 460px 210px 210px;
    grid-template-areas: "fig0" "fig1" "fig2" "fig3" "fig4";
    gap: 50px;
}

#portfolio a {
    color: #31343d;
    text-decoration: none;
}

.fig0 {
    grid-area: fig0;
}
.fig1 {
    grid-area: fig1;
}
.fig2 {
    grid-area: fig2;
}
.fig3 {
    grid-area: fig3;
}
.fig4 {
    grid-area: fig4;
}

figure {
    width: 100%;
    position: relative;
    border: 3px solid #92cccd;
}

#portfolio img {
    object-fit: cover;
    width: 100%;
    filter: sepia(40%);
    opacity: 80%;
}

figcaption {
    background-color: #92cccd;
    padding: 10px;
    position: absolute;
    bottom: 32px;
}